.new_registration{
  height: 450px;
  width: 700px;
  margin: 0 auto;
  background-color: #eeeeee;
  box-shadow: 0 0 8px gray;
  h2{
    text-align: center;
    margin-top: 100px;
  }
  form{
    width: 50%;
    height: 300px;
    margin: 0 auto;
    .field{
      width: 200px;
      margin: 20px auto;
      input{
        border-radius: 10px;
        width: 170px;
      }
    }
    .actions{
      width: 170px;
      margin: 20px auto;
    }
    .login{
      width: 170px;
      margin: 0 auto;
    }
    .signup{
      width: 170px;
      margin: 0 auto;
    }
    .forgot{
      width: 170px;
      margin: 0 auto;
    }
  }
}
