.contents{
  height: 100vh;
  width: 100vw;
  
  .form{
    height: 100%;
    width: 76%;
    background-image: url('https://image.space.rakuten.co.jp/d/strg/ctrl/9/7e638a58cc50a550601eb934589ff532b9b9f6c1.10.2.9.2.jpeg');
    background-repeat: no-repeat;
    padding: 0 50px;
    margin: 0 auto;
    h2{
      padding-top: 40px;
    }
    h1{
      margin: 0 auto;
      padding: 50px 300px 30px ;
    }
    #new-comment{
      height: 400px;
      width: 100%;
    }
    .member{
      width: 70%;
      height: 300px;
      padding: 0px;
    }
    
    label{
      color: #fff;
      height: 80px;
      width: 80%;
      margin: 30px;
      font-size: 25px;
    }
    .form__place{
      width: 500px;
      height: 50px;
      margin: 0 auto;
      background-color: rgba(255,255,255,0.5);
      &::-webkit-input-placeholder {
        color: #333333;
      }
      
      &::-moz-placeholder {
        color: #333333;
      }
      
      &::-ms-input-placeholder {
        color: #333333;
      }
    }
    .form__review{
      width: 500px;
      height: 100px;
      background-color: rgba(255,255,255,0.5);
      &::-webkit-input-placeholder {
        color: #333333;
      }
      
      &::-moz-placeholder {
        color: #333333;
      }
      
      &::-ms-input-placeholder {
        color: #333333;
      }
    }
    .form__image{
      width: 500px;
      height: 50px;
      background-color: rgba(255,255,255,0.5);
      &::-webkit-input-placeholder {
        color: #333333;
      }
      
      &::-moz-placeholder {
        color: #333333;
      }
      
      &::-ms-input-placeholder {
        color: #333333;
      }
    }
    .btn{
      width: 150px;
      background-color: yellow;
      border-radius: 35px;
    }
  }
}
