.contents{
  width: 100vw;
  height: 100vh;
  background-color: #EEEEEE;
  padding-top: 80px;
  &__top{
    position: absolute;
    font-size: 40px;
    top: 10px;
    left: 650px;
  }
  .form{
    width: 60%;
    height: 80%;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #fff;
    position: relative;
    box-shadow: 4px 4px;
    .only__member{
      width: 80%;
      margin: 20px auto;
      height: 150px;
      border: 1px solid;
    }
    &__text{
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      &__place{
        width: 300px;
        input{
          border-radius: 5px;
          width: 80%;
        }
      }
      &__review{
        width: 400px;
        height: 100px;
        textarea{
          height: 100%;
          width: 100%;
          border-radius: 5px;
        }
      }

    }
    
    &__image{
      margin: 20px auto;
      width: 90%;
      height: 200px;
    }
    &__submit{
      position: absolute;
      bottom: 40px;
      margin: 20px 360px;
      border: 1px solid;
      border-radius: 5px;
      input{
        &:hover{
          background-color: blueviolet;
          color: #fff;
        }
      }
    }
    .footer{
        width: 20px;
        margin: 0 auto;
        a{
          text-decoration: none;
        }
    }
  }
}