.member__selects{
  position: absolute;
  top: 50px;
  background-color: #EEEEEE;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  .members__index{
    font-size: 30px;
    width: 300px;
    height: 100px;
    margin: 0 auto;
    padding-top: 30px;
  }
  .select{
    margin: 0 auto;
    width: 1000px;
    height: 70%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    &__box {
      width: 200px;
      height: 200px;
      margin: 20px;
      background-color: #fff;
      
      &__member{
        text-align: center;
        a{
          font-size: 20px;
          text-decoration: none;
          color: blueviolet;
        }
      }
      &__image{
        margin: 0 auto;
        width: 150px;
        height: 180px;
      }
    }
  }
}