.members
  .member-index
    メンバー 一覧
  .member-selects
    .select
      - @members.each_with_index do |member, i|
        - if current_user.already_favorited?(member)
          %h1
            = member.name
            .registration
              推しメン
        - else
          %h1
            = member.name
            %td= link_to "推しメンに登録する", add_favorite_path(id: member.id), method: :post
