<div class="index__comments">
  <% @comments.each do |comment| %>
    <div class="index__comment">
      <div class="index__comment__left">
        <div class="index__comment__left__place">
          <%= comment.place %>
        </div>
      </div>
      <div class="index__comment__right">
        <div class="index__comment__right__name">
          <% comment.member.each do |member| %>
            <%= member.name %>
          <% end %>
        </div>
      </div>
      <%= link_to '詳細', "comments/#{comment.id}", method: :get %>
    </div>
  <% end %>
</div>