<div class="header" >
  推しメン設定
  <% @users.each do |user| %>
    <div class="select_member">
      <%= user.name %>
      <%= link_to "推しメンを見る", user_path(user) %>
      <%= link_to "推しメンを決める", favorites_path %>
    </div>
  <% end %>
</div>