.admin__only
  - @users.each do |user|
    - user.comments.each do |comment|
      .admin__users
        =user.name
        =comment.place
        =comment.text
        = link_to '詳細', "comments/#{comment.id}", method: :get