.all__header
  .all__header__left
    Pilgrimage
  .all__header__right
    %ul
      %li 
        = link_to "TOP", root_path
      %li 
        = link_to " SEARCH", search_index_path
      - if user_signed_in?
        %li
          =link_to "マイページ", "/users/#{current_user.id}"
      - else
        %li
          %a.js-modal-open{"data-target" => "modal02", :href => ""} ログイン
          %br/
          =render 'devise/sessions/new'
        %li
          %a.js-modal-open{"data-target" => "modal01", :href => ""} 新規登録
          %br/
          =render 'devise/registrations/new'