.members{
  height: 100vh;
  background-color: #C299FF;
  .member-index{
    font-size: 35px;
    padding-left: 50px;
    padding-top: 50px;
  }
  .member-selects{
    background-color: #eeeeee;
    width: 60%;
    height: calc(100% - 150px);
    position: fixed;
    overflow: scroll;
    border: 1px solid gray;
    left: 200px;
    box-shadow: 4px 4px 4px gray;
    .select{
      width: 100%;
      height: 100%;
      .add-member{
        width: 40%;
        margin: 15px auto;
        display: flex;
        justify-content: space-between;
        font-size: 18px;
      }
    }
  }
}

