=render "shared/header"
.first
  .first__content
    .first__content__text
      Prigrimage~聖地巡礼~は
      %br
      メンバーに関係する場所を投稿したり、探したりできます。
    .first__content__btn
      .first__content__btn-post
        =link_to "投稿する", new_comment_path
      .first__content__btn-search
        =link_to "探す", search_index_path
    .note
      ※投稿するにはユーザー登録が必要です
.second
  .second__content
    .second__content__text
      .second__content__text-head
        投稿機能
      .second__content__text-main
        メンバーに関する聖地を投稿することができます。
        あなたの知っている聖地について投稿し共有しよう
      .second__content__text-btn
        =link_to "投稿する", new_comment_path
    .second__content__image
.third
  .third__content
    .third__content__text
      .third__content__text-head
        投稿から探す
      .third__content__text-main
        メンバーに関する場所を探すことができます。メンバーから探したり投稿から探したりできます。
        旅行に行く際の参考にしてみませんか？
      .third__content__text-btn
        =link_to "探す", search_index_path

.forth
  .forth__content
    .forth__content__text
      .forth__content__text-head
        ユーザー特典
      .forth__content__text-main
        ユーザー登録していただくと推しメンを選んだり投稿にいいねしたりできます。
        推しメンを決めて聖地を探してみましょう。
      - if user_signed_in?
        .forth__content__text-btn
          =link_to "マイページ", "/users/#{current_user.id}"
      - else
        .forth__content__text-btn1
          =link_to "ログイン", new_user_session_path
        .forth__content__text-btn2
          =link_to "新規登録", new_user_registration_path