=render "shared/header"
.wrapper__bg
  .wrapper
    .header
      .header__main
        Prigrimage
      .header__main__sub
        〜聖地巡礼〜
      .header__sub
        ⊿乃木坂46
    .top__contents
      .top__contents__serach
        =link_to "探す", search_index_path
      .top__contents__post
        =link_to "投稿する", new_comment_path
    .footer
      - if user_signed_in?
        .user-nav.grid-6
          
      - else
        .grid-6
          =link_to "ログイン", new_user_session_path
          =link_to "新規登録", new_user_registration_path