.first{
  padding-top: 50px;
  width: 100vw;
  height: 600px;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)) ,image-url("sea-image1.jpg");
  background-size: cover;
  &__content{
    width: 500px;
    margin: 20px auto;
    &__text{
      font-size: 30px;
      margin-top: 150px;
      color: #fff;
      text-align: center;
    }
    &__btn{
      display: flex;
      justify-content: space-between;
      text-align: center;
      margin-top: 30px;
      &-post{
        width: 200px;
        height: 60px;
        background-color: #9057FF;
        border-radius: 3px;
        a{
          font-size: 20px;
          line-height: 60px;
          text-decoration: none;
          color: #fff;
          display: block;
          &:hover{
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
      &-search{
        width: 200px;
        height: 60px;
        background-color: #9057FF;
        border-radius: 3px;
        a{
          font-size: 20px;
          line-height: 60px;
          text-decoration: none;
          color: #fff;
          display: block;
          &:hover{
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
    .note{
      margin-top: 30px;
      color: #fff;
    }
  }
}
.second{
  width: 100vw;
  height: 500px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) ,image-url("image-yama.jpg");
  background-size: cover;
  &__content{
    width: 100%;
    height: 100%;
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    &__text{
      color: #fff;
      margin-left: 80px;
      width: 400px;
      &-head{
        font-size: 30px;
        margin-top: 50px;
      }
      &-main{
        font-size: 20px;
        margin-top: 20px;
      }
      &-btn{
        width: 200px;
        height: 60px;
        background-color: #9057FF;
        border-radius: 3px;
        margin-top: 20px;
        text-align: center;
        a{
          font-size: 20px;
          line-height: 60px;
          text-decoration: none;
          color: #fff;
          display: block;
          &:hover{
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
.third{
  z-index: -1;
  width: 100vw;
  height: 500px;
  background: linear-gradient(100deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)) ,image-url("search-image.jpg");
  background-size: cover;
  &__content{
    width: 300px;
    height: 600px;
    float: right;
    margin-right: 150px;
    &__text{
      color: #fff;
      &-head{
        margin-top: 50px;
        font-size: 30px;
      }
      &-main{
        margin-top: 20px;
        font-size: 20px;
      }
      &-btn{
        width: 200px;
        height: 60px;
        background-color: #9057FF;
        border-radius: 3px;
        margin-top: 20px;
        text-align: center;
        a{
          font-size: 20px;
          line-height: 60px;
          text-decoration: none;
          color: #fff;
          display: block;
          &:hover{
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
      }
    }
  }
}
.forth{
  width: 100vw;
  height: 500px;
  background: linear-gradient(90deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)) ,image-url("user-image2.jpg");
  background-position:center center;
  background-size: cover;
  &__content{
    width: 300px;
    height: 100%;
    margin-left: 150px;
    &__text{
      color: #fff;
      &-head{
        padding-top: 50px;
        font-size: 30px;
      }
      &-main{
        margin-top: 20px;
        font-size: 20px;
      }
      &-btn{
        width: 200px;
        height: 60px;
        background-color: #9057FF;
        border-radius: 3px;
        margin-top: 20px;
        text-align: center;
        a{
          font-size: 20px;
          line-height: 60px;
          text-decoration: none;
          color: #fff;
          display: block;
          margin: 20px 0;
          &:hover{
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
        &1{
          width: 200px;
        height: 60px;
        background-color: #9057FF;
        border-radius: 3px;
        margin-top: 20px;
        text-align: center;
        a{
          font-size: 20px;
          line-height: 60px;
          text-decoration: none;
          color: #fff;
          display: block;
          margin: 20px 0;
          &:hover{
            background-color: rgba(0, 0, 0, 0.1);
          }
        }
        }
        &2{
          width: 200px;
        height: 60px;
        background-color: #9057FF;
        border-radius: 3px;
        margin-top: 20px;
        text-align: center;
          a{
            font-size: 20px;
            line-height: 60px;
            text-decoration: none;
            color: #fff;
            display: block;
            margin: 20px 0;
            &:hover{
              background-color: rgba(0, 0, 0, 0.1);
            }
          }
        }
      }
    }
  }
}
