<div class="member-selects">
  <div class="select">
      <% @members.each do |member| %>
        <tr>
          <%= member.name %>
          <td><%= link_to "旅先を見る", "#" %></td>
        </tr>
      <% end %>
  </div>
</div>
