<div class="member-selects">
  <div class="select">
      <% @members.each do |member| %>
        <tr>
          <%= member.name %>
          <td><%= link_to "推しメンに登録する", add_member_path(id: member.id), method: :post %></td>
        </tr>
      <% end %>
  </div>
</div>