=render "shared/header"
.member__selects
  .members__index
    メンバー一覧
  .select
    - @members.each do |member|
      .select__box
        .select__box__member
          = link_to "#{member.name}", member_path(member.id)
        .select__box__image
          image
