<div class="member-show">
  <div class="member-name">
    <%= @member.name %>
  </div>
  <div class="show-place">
    <% @member.member_comments.each do |m| %>
      <h1><%= m.comment.place %>
        <%= link_to "詳細", comment_path(m.comment) %>
      </h1>
    <% end %>    
  </div>
</div>




